{{#block "header"}}
<!doctype html>
<html>
<head>
    <title>CD organizer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
{{/block}}

<div class="container">
    {{#block "content"}}
    {{/block}}

{{#block "footer"}}
</div>
</body>
</html>
{{/block}}